Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, security

.github/labeler.yml:

# Auto-label rules
backend:
  - backend/**
frontend:
  - frontend/**
ci:
  - .github/workflows/**
security:
  - sbom/**
  - .github/dependabot.yml

chore(ci): grant security-events read at top-level for finalize code scanning aggregation
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): grant security-events read at top-level for finalize code scanning aggregation
  .github/workflows/orchestrator.yml
Labels: ci

Feature/betterrole with tests1 (#162)
  .github/scripts/collect-security-signals.js
  .github/workflows/orchestrator.yml
  backend/src/controllers/taskController.js
  frontend/package.json
  frontend/src/__tests__/Home.test.tsx
  frontend/src/setupTests.ts
  package.json
  scripts/enforce-react-version.js
Labels: backend, frontend, ci

Feature/betterrole with tests1 (#162)
  .github/scripts/collect-security-signals.js
  .github/workflows/orchestrator.yml
  backend/src/controllers/taskController.js
  frontend/package.json
  frontend/src/__tests__/Home.test.tsx
  frontend/src/setupTests.ts
  package.json
  scripts/enforce-react-version.js
Labels: backend, frontend, ci

Feature/betterrole with tests1 (#164)
  .github/matchers/eslint-unix.json
  .github/scripts/collect-security-signals.js
  .github/workflows/analytics-dashboard.yml
  .github/workflows/ci-cd.yml
  .github/workflows/orchestrator.yml
  .github/workflows/semgrep.yml
  .github/workflows/static-checks.yml
  README.md
  backend/src/controllers/taskController.js
  docs/executive-poc-slide.md
  eslint.config.js
  frontend/package.json
  frontend/src/__tests__/Home.test.tsx
  frontend/src/components/TaskForm.tsx
  frontend/src/services/api.ts
  frontend/src/setupTests.ts
  package-lock.json
  package.json
  scripts/enforce-react-version.js
Labels: backend, frontend, ci

ajustando badges
  backend/coverage-unit/base.css
  backend/coverage-unit/block-navigation.js
  backend/coverage-unit/controllers/index.html
  backend/coverage-unit/controllers/taskController.js.html
  backend/coverage-unit/coverage-final.json
  backend/coverage-unit/coverage-summary.json
  backend/coverage-unit/favicon.png
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/base.css
  backend/coverage-unit/lcov-report/block-navigation.js
  backend/coverage-unit/lcov-report/controllers/index.html
  backend/coverage-unit/lcov-report/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/favicon.png
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/models/index.html
  backend/coverage-unit/lcov-report/models/taskModel.js.html
  backend/coverage-unit/lcov-report/prettify.css
  backend/coverage-unit/lcov-report/prettify.js
  backend/coverage-unit/lcov-report/routes/index.html
  backend/coverage-unit/lcov-report/routes/taskRoutes.js.html
  backend/coverage-unit/lcov-report/sort-arrow-sprite.png
  backend/coverage-unit/lcov-report/sorter.js
  backend/coverage-unit/lcov.info
  backend/coverage-unit/models/index.html
  backend/coverage-unit/models/taskModel.js.html
  backend/coverage-unit/prettify.css
  backend/coverage-unit/prettify.js
  backend/coverage-unit/routes/index.html
  backend/coverage-unit/routes/taskRoutes.js.html
  backend/coverage-unit/sort-arrow-sprite.png
  backend/coverage-unit/sorter.js
  backend/package-lock.json
  frontend/package-lock.json
  orchestrator_prev.yml
  package-lock.json
Labels: backend, frontend

ajustando badges
  backend/coverage-unit/base.css
  backend/coverage-unit/block-navigation.js
  backend/coverage-unit/controllers/index.html
  backend/coverage-unit/controllers/taskController.js.html
  backend/coverage-unit/coverage-final.json
  backend/coverage-unit/coverage-summary.json
  backend/coverage-unit/favicon.png
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/base.css
  backend/coverage-unit/lcov-report/block-navigation.js
  backend/coverage-unit/lcov-report/controllers/index.html
  backend/coverage-unit/lcov-report/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/favicon.png
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/models/index.html
  backend/coverage-unit/lcov-report/models/taskModel.js.html
  backend/coverage-unit/lcov-report/prettify.css
  backend/coverage-unit/lcov-report/prettify.js
  backend/coverage-unit/lcov-report/routes/index.html
  backend/coverage-unit/lcov-report/routes/taskRoutes.js.html
  backend/coverage-unit/lcov-report/sort-arrow-sprite.png
  backend/coverage-unit/lcov-report/sorter.js
  backend/coverage-unit/lcov.info
  backend/coverage-unit/models/index.html
  backend/coverage-unit/models/taskModel.js.html
  backend/coverage-unit/prettify.css
  backend/coverage-unit/prettify.js
  backend/coverage-unit/routes/index.html
  backend/coverage-unit/routes/taskRoutes.js.html
  backend/coverage-unit/sort-arrow-sprite.png
  backend/coverage-unit/sorter.js
  backend/package-lock.json
  frontend/package-lock.json
  orchestrator_prev.yml
  package-lock.json
Labels: backend, frontend

restore: orchestrator workflow after accidental wipe
  .github/workflows/orchestrator.yml
Labels: ci

restore: orchestrator workflow after accidental wipe
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): remove cache-dependency-path entries referencing missing lockfiles
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): remove cache-dependency-path entries referencing missing lockfiles
  .github/workflows/orchestrator.yml
Labels: ci

fix(frontend build): remove ajv v8 deps to resolve ajv-keywords codegen module error and prune deps
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

fix(frontend build): remove ajv v8 deps to resolve ajv-keywords codegen module error and prune deps
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

fix(build): force Ajv v6 + ajv-keywords v3 via overrides and clean reinstall in build-frontend
  .github/workflows/orchestrator.yml
  package.json
Labels: ci

fix(build): force Ajv v6 + ajv-keywords v3 via overrides and clean reinstall in build-frontend
  .github/workflows/orchestrator.yml
  package.json
Labels: ci

fix(build): pin ajv 6 / ajv-keywords 3 explicitly in frontend and add extra guard
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

fix(build): pin ajv 6 / ajv-keywords 3 explicitly in frontend and add extra guard
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

fix(build): aggressive Ajv v6 enforcement (schema-utils pin, dedupe, scan, prebuild guard)
  .github/workflows/orchestrator.yml
  frontend/package.json
  package.json
  scripts/ensure-ajv6.js
Labels: frontend, ci

fix(build): aggressive Ajv v6 enforcement (schema-utils pin, dedupe, scan, prebuild guard)
  .github/workflows/orchestrator.yml
  frontend/package.json
  package.json
  scripts/ensure-ajv6.js
Labels: frontend, ci

fix(build): drop schema-utils override causing ForkTsChecker TypeError; add version logging
  .github/workflows/orchestrator.yml
  package.json
Labels: ci

fix(build): drop schema-utils override causing ForkTsChecker TypeError; add version logging
  .github/workflows/orchestrator.yml
  package.json
Labels: ci

feat(analytics): publish dashboards to gh-pages
  .github/workflows/analytics-dashboard.yml
Labels: ci

feat(analytics): publish dashboards to gh-pages
  .github/workflows/analytics-dashboard.yml
Labels: ci

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/README.md
  analytics-dashboard/index.html
  index.html
Labels: none

chore(build): remove Ajv v6 enforcement to fix frontend build (allow schema-utils/ajv-formats to resolve Ajv 8)
  .github/workflows/orchestrator.yml
  frontend/package.json
  package.json
Labels: frontend, ci

chore(build): remove Ajv v6 enforcement to fix frontend build (allow schema-utils/ajv-formats to resolve Ajv 8)
  .github/workflows/orchestrator.yml
  frontend/package.json
  package.json
Labels: frontend, ci

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

fix(frontend-build): add Ajv v8 deps (ajv, ajv-keywords, ajv-formats) to satisfy schema-utils 4.x
  frontend/package.json
Labels: frontend

fix(frontend-build): add Ajv v8 deps (ajv, ajv-keywords, ajv-formats) to satisfy schema-utils 4.x
  frontend/package.json
Labels: frontend

chore(frontend): manual adjustments to package.json before build
  frontend/package.json
  package-lock.json
Labels: frontend

chore(frontend): manual adjustments to package.json before build
  frontend/package.json
  package-lock.json
Labels: frontend

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

Feature/betterrole with tests1 (#166)
  .github/workflows/analytics-dashboard.yml
  .github/workflows/orchestrator.yml
  backend/coverage-unit/base.css
  backend/coverage-unit/block-navigation.js
  backend/coverage-unit/controllers/index.html
  backend/coverage-unit/controllers/taskController.js.html
  backend/coverage-unit/coverage-final.json
  backend/coverage-unit/coverage-summary.json
  backend/coverage-unit/favicon.png
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/base.css
  backend/coverage-unit/lcov-report/block-navigation.js
  backend/coverage-unit/lcov-report/controllers/index.html
  backend/coverage-unit/lcov-report/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/favicon.png
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/models/index.html
  backend/coverage-unit/lcov-report/models/taskModel.js.html
  backend/coverage-unit/lcov-report/prettify.css
  backend/coverage-unit/lcov-report/prettify.js
  backend/coverage-unit/lcov-report/routes/index.html
  backend/coverage-unit/lcov-report/routes/taskRoutes.js.html
  backend/coverage-unit/lcov-report/sort-arrow-sprite.png
  backend/coverage-unit/lcov-report/sorter.js
  backend/coverage-unit/lcov.info
  backend/coverage-unit/models/index.html
  backend/coverage-unit/models/taskModel.js.html
  backend/coverage-unit/prettify.css
  backend/coverage-unit/prettify.js
  backend/coverage-unit/routes/index.html
  backend/coverage-unit/routes/taskRoutes.js.html
  backend/coverage-unit/sort-arrow-sprite.png
  backend/coverage-unit/sorter.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  orchestrator_prev.yml
  package-lock.json
  scripts/ensure-ajv6.js
Labels: backend, frontend, ci

Feature/betterrole with tests1 (#166)
  .github/workflows/analytics-dashboard.yml
  .github/workflows/orchestrator.yml
  backend/coverage-unit/base.css
  backend/coverage-unit/block-navigation.js
  backend/coverage-unit/controllers/index.html
  backend/coverage-unit/controllers/taskController.js.html
  backend/coverage-unit/coverage-final.json
  backend/coverage-unit/coverage-summary.json
  backend/coverage-unit/favicon.png
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/base.css
  backend/coverage-unit/lcov-report/block-navigation.js
  backend/coverage-unit/lcov-report/controllers/index.html
  backend/coverage-unit/lcov-report/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/favicon.png
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/models/index.html
  backend/coverage-unit/lcov-report/models/taskModel.js.html
  backend/coverage-unit/lcov-report/prettify.css
  backend/coverage-unit/lcov-report/prettify.js
  backend/coverage-unit/lcov-report/routes/index.html
  backend/coverage-unit/lcov-report/routes/taskRoutes.js.html
  backend/coverage-unit/lcov-report/sort-arrow-sprite.png
  backend/coverage-unit/lcov-report/sorter.js
  backend/coverage-unit/lcov.info
  backend/coverage-unit/models/index.html
  backend/coverage-unit/models/taskModel.js.html
  backend/coverage-unit/prettify.css
  backend/coverage-unit/prettify.js
  backend/coverage-unit/routes/index.html
  backend/coverage-unit/routes/taskRoutes.js.html
  backend/coverage-unit/sort-arrow-sprite.png
  backend/coverage-unit/sorter.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  orchestrator_prev.yml
  package-lock.json
  scripts/ensure-ajv6.js
Labels: backend, frontend, ci

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

feat(coverage): aggregate HTML reports and publish to gh-pages + artifacts
  .github/workflows/orchestrator.yml
Labels: ci

feat(coverage): aggregate HTML reports and publish to gh-pages + artifacts
  .github/workflows/orchestrator.yml
Labels: ci

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none
