Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, security

.github/labeler.yml:

# Auto-label rules
backend:
  - backend/**
frontend:
  - frontend/**
ci:
  - .github/workflows/**
security:
  - sbom/**
  - .github/dependabot.yml

ci(static-checks): fix cache-dependency-path to existing lockfile only
  .github/workflows/static-checks.yml
Labels: ci

ci(static-checks): fix cache-dependency-path to existing lockfile only
  .github/workflows/static-checks.yml
Labels: ci

ci: sync orchestrator changes before rebase
  .github/workflows/orchestrator-restored.yml
  .github/workflows/orchestrator.yml
Labels: ci

ci: sync orchestrator changes before rebase
  .github/workflows/orchestrator-restored.yml
  .github/workflows/orchestrator.yml
Labels: ci

ci(static-checks): reference only existing package-lock.json for caching
  .github/workflows/static-checks.yml
Labels: ci

ci(static-checks): reference only existing package-lock.json for caching
  .github/workflows/static-checks.yml
Labels: ci

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

testes extras
  .github/scripts/normalize-encoding.ps1
  backend/.env.example
  docker-compose.yml
  sql_recommendations.json
  tmp_orch.yml
  tmp_orch_remote.yml
Labels: backend

testes extras
  .github/scripts/normalize-encoding.ps1
  backend/.env.example
  docker-compose.yml
  sql_recommendations.json
  tmp_orch.yml
  tmp_orch_remote.yml
Labels: backend
