Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, testing, documentation, ci-cd, dependencies, badges, analytics, configuration, security, infrastructure, controllers, models, routes, components, pages, api, styles, scripts

.github/labeler.yml:

# Auto-Labeler Configuration v5
# https://github.com/actions/labeler

# 🔧 Backend Changes
backend:
  - changed-files:
    - any-glob-to-any-file: 
      - backend/**/*
      - backend/**/*.js
      - backend/**/*.ts
      - backend/**/*.json

# 🎨 Frontend Changes  
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - frontend/**/*.tsx
      - frontend/**/*.ts
      - frontend/**/*.css
      - frontend/**/*.html

# 🧪 Testing Changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*test*"
      - "**/*spec*"
      - "**/tests/**/*"
      - "**/__tests__/**/*"
      - "**/jest.config.*"
      - "**/coverage/**/*"

# 📚 Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "*.md"
      - "docs/**/*"
      - "**/*.md"
      - "README*"

# 🔄 CI/CD Changes
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**/*"
      - ".github/workflows/**/*"
      - "docker-compose*.yml"
      - "**/Dockerfile*"
      - "orchestrator*.yml"

# 📦 Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "**/package.json"
      - "**/package-lock.json" 
      - "**/yarn.lock"
      - ".github/dependabot.yml"

# 🏷️ Badge System
badges:
  - changed-files:
    - any-glob-to-any-file:
      - "badges/**/*"
      - "**/*badge*"
      - "**/badge-*"
      - "combined-coverage/**/*"

# 📊 Data & Analytics
analytics:
  - changed-files:
    - any-glob-to-any-file:
      - "data-engineering/**/*"
      - "**/*.sql"
      - "**/analytics-*"
      - "scripts/generate-analytics-dashboard.js"

# 🔧 Configuration
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml"
      - "*.yaml"
      - ".github/CODEOWNERS"
      - "sonar-project.properties"
      - "eslint.config.js"

# 🔒 Security & Compliance
security:
  - changed-files:
    - any-glob-to-any-file:
      - "SECURITY.md"
      - ".github/CODEOWNERS" 
      - ".github/dependabot.yml"
      - "**/*security*"

# 🚀 Infrastructure
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - "docker-compose*.yml"
      - "**/Dockerfile*"
      - "orchestrator*.yml"
      - "**/infrastructure/**/*"

# 🎯 Controllers (Backend)
controllers:
  - changed-files:
    - any-glob-to-any-file:
      - "**/controllers/**/*"
      - "**/*Controller*"

# 📋 Models (Backend)
models:
  - changed-files:
    - any-glob-to-any-file:
      - "**/models/**/*" 
      - "**/*Model*"

# 🛣️ Routes (Backend)
routes:
  - changed-files:
    - any-glob-to-any-file:
      - "**/routes/**/*"
      - "**/*Route*"

# 🎨 Components (Frontend)
components:
  - changed-files:
    - any-glob-to-any-file:
      - "**/components/**/*"
      - "**/*Component*"

# 📄 Pages (Frontend)
pages:
  - changed-files:
    - any-glob-to-any-file:
      - "**/pages/**/*"
      - "**/*Page*"

# 🔌 Services & APIs
api:
  - changed-files:
    - any-glob-to-any-file:
      - "**/services/**/*"
      - "**/*Service*"
      - "**/*api*"

# 🎨 Styles
styles:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.css"
      - "**/*.scss"
      - "**/*.less"
      - "**/styles/**/*"

# 🔧 Scripts & Tools
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - "scripts/**/*"
      - "**/*.sh"
      - "tools/**/*"

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

test: add intentional TypeScript error to test workflow failure
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

chore(badges): update coverage badges for master
  badges/history/coverage-latest-master.json
Labels: testing, badges

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

fix: correct TypeScript error test and add PR coverage reporting
  .github/workflows/finalize.yml
  frontend/src/components/TaskForm.tsx
Labels: frontend, ci-cd, components

Fix: Corrige ESLint mantendo função de teste para POC
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

Test: Ativa erro TypeScript proposital para validação do workflow
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

Test: Ativa vulnerabilidades CodeQL para demonstração
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

Fix: Corrige ESLint no-constant-condition para testes CodeQL
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

Fix: Corrige configuração CodeQL para resolver warnings
  .github/workflows/security.yml
Labels: ci-cd, security

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(badges): update coverage badges for master
  badges/coverage-badge-master.json
  badges/coverage-badge.json
  badges/history/coverage-latest-master.json
Labels: testing, badges

Enhance: Melhora vulnerabilidades para detecção CodeQL
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

Critical: Adiciona vulnerabilidades DIRETAS para forçar falha CodeQL
  backend/src/vulnerable-code.js
  frontend/src/components/TaskForm.tsx
Labels: backend, frontend, components

Fix: Exclui vulnerable-code.js da cobertura de testes
  backend/jest.config.integration.js
  backend/jest.config.js
  backend/jest.config.unit.js
Labels: backend, testing

feat: pipeline ready for security testing - ESLint/TypeScript pass, vulnerabilities for Gitleaks/CodeQL detection
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/src/app.js.html
  backend/coverage-unit/lcov-report/src/controllers/index.html
  backend/coverage-unit/lcov-report/src/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/src/index.html
  backend/coverage-unit/lcov-report/src/models/index.html
  backend/coverage-unit/lcov-report/src/models/taskModel.js.html
  backend/coverage-unit/lcov-report/src/routes/index.html
  backend/coverage-unit/lcov-report/src/routes/taskRoutes.js.html
  backend/coverage-unit/src/app.js.html
  backend/coverage-unit/src/controllers/index.html
  backend/coverage-unit/src/controllers/taskController.js.html
  backend/coverage-unit/src/index.html
  backend/coverage-unit/src/models/index.html
  backend/coverage-unit/src/models/taskModel.js.html
  backend/coverage-unit/src/routes/index.html
  backend/coverage-unit/src/routes/taskRoutes.js.html
  backend/src/vulnerable-code.js
Labels: backend, controllers, models, routes

Feature/betterrole with tests1 aux (#210)
  backend/jest.config.integration.js
  backend/jest.config.js
  backend/jest.config.unit.js
  backend/src/vulnerable-code.js
  frontend/src/components/TaskForm.tsx
Labels: backend, frontend, testing, components

Feature/betterrole with tests1 aux (#210)
  backend/jest.config.integration.js
  backend/jest.config.js
  backend/jest.config.unit.js
  backend/src/vulnerable-code.js
  frontend/src/components/TaskForm.tsx
Labels: backend, frontend, testing, components

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

fix: remove reference to deleted vulnerable-code.js from jest config
  backend/jest.config.integration.js
  frontend/src/components/TaskForm.tsx
Labels: backend, frontend, testing, components

fix: add test-* branches to workflow triggers to enable security testing
  .github/workflows/orchestrator.yml
Labels: ci-cd

feat: add explicit XSS and code injection vulnerabilities for CodeQL detection
  frontend/src/components/TaskForm.tsx
Labels: frontend, components

chore(badges): update coverage badges for master
  badges/coverage-badge-master.json
  badges/coverage-badge.json
  badges/history/coverage-latest-master.json
Labels: testing, badges

feat: force CodeQL failure with explicit vulnerability check and additional XSS patterns
  .github/workflows/security.yml
  frontend/src/components/TaskForm.tsx
Labels: frontend, ci-cd, security, components

fix: comment executing vulnerabilities to pass tests, create separate security-test.js for CodeQL detection
  .github/workflows/security.yml
  frontend/src/components/TaskForm.tsx
  frontend/src/security-test.js
Labels: frontend, testing, ci-cd, security, components

feat: add manual workflow dispatch for CodeQL security demo and orchestrator manual triggers
  .github/workflows/codeql-demo-manual.yml
  .github/workflows/orchestrator.yml
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/src/app.js.html
  backend/coverage-unit/lcov-report/src/controllers/index.html
  backend/coverage-unit/lcov-report/src/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/src/index.html
  backend/coverage-unit/lcov-report/src/models/index.html
  backend/coverage-unit/lcov-report/src/models/taskModel.js.html
  backend/coverage-unit/lcov-report/src/routes/index.html
  backend/coverage-unit/lcov-report/src/routes/taskRoutes.js.html
  backend/coverage-unit/src/app.js.html
  backend/coverage-unit/src/controllers/index.html
  backend/coverage-unit/src/controllers/taskController.js.html
  backend/coverage-unit/src/index.html
  backend/coverage-unit/src/models/index.html
  backend/coverage-unit/src/models/taskModel.js.html
  backend/coverage-unit/src/routes/index.html
  backend/coverage-unit/src/routes/taskRoutes.js.html
Labels: backend, ci-cd, controllers, models, routes

fix: change security-test.js to ES6 export to fix ESLint error
  backend/coverage-unit/index.html
  backend/coverage-unit/lcov-report/index.html
  backend/coverage-unit/lcov-report/src/app.js.html
  backend/coverage-unit/lcov-report/src/controllers/index.html
  backend/coverage-unit/lcov-report/src/controllers/taskController.js.html
  backend/coverage-unit/lcov-report/src/index.html
  backend/coverage-unit/lcov-report/src/models/index.html
  backend/coverage-unit/lcov-report/src/models/taskModel.js.html
  backend/coverage-unit/lcov-report/src/routes/index.html
  backend/coverage-unit/lcov-report/src/routes/taskRoutes.js.html
  backend/coverage-unit/src/app.js.html
  backend/coverage-unit/src/controllers/index.html
  backend/coverage-unit/src/controllers/taskController.js.html
  backend/coverage-unit/src/index.html
  backend/coverage-unit/src/models/index.html
  backend/coverage-unit/src/models/taskModel.js.html
  backend/coverage-unit/src/routes/index.html
  backend/coverage-unit/src/routes/taskRoutes.js.html
  frontend/src/security-test.js
Labels: backend, frontend, testing, security, controllers, models, routes

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

clean: remove duplicate security jobs, keep single Security Analysis with CodeQL and Security Scans
  .github/workflows/analytics-dashboard.yml
  .github/workflows/orchestrator.yml
Labels: ci-cd, analytics

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

feat: add CodeQL and Security Scans status to pipeline summary with detailed results
  .github/workflows/finalize.yml
  .github/workflows/orchestrator.yml
Labels: ci-cd

chore(badges): update coverage badges for master
  badges/history/coverage-latest-master.json
Labels: testing, badges

feat: Comentar vulnerabilidades propositais do CodeQL
  backend/src/vulnerable-code.js
Labels: backend

Feature/betterrole with tests1 aux (#212)
  backend/src/vulnerable-code.js
Labels: backend
