Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, testing, documentation, ci-cd, dependencies, badges, analytics, configuration, security, infrastructure, controllers, models, routes, components, pages, api, styles, scripts

Feature/betterrole with tests1 aux (#212)
  backend/src/vulnerable-code.js
Labels: backend

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(badges): update coverage badges for master
  badges/coverage-badge-master.json
  badges/coverage-badge.json
  badges/diff-coverage-badge.json
  badges/history/coverage-latest-master.json
Labels: testing, badges

🚀 Deploy GitHub Pages + Dashboard + Badge Auto-Update System
  .github/workflows/deploy-pages.yml
  .github/workflows/update-badges.yml
  coverage-history.html
  index.html
  sonar-project.properties
Labels: ci-cd, badges, configuration

🚀 Deploy GitHub Pages Dashboard na Master
  .github/workflows/deploy-pages.yml
  .github/workflows/update-badges.yml
  ARTEFATOS-COMPLETO.md
  coverage-history.html
  index.html
  sonar-project.properties
Labels: documentation, ci-cd, badges, configuration

🚀 Deploy GitHub Pages Dashboard na Master
  .github/workflows/deploy-pages.yml
  .github/workflows/update-badges.yml
  ARTEFATOS-COMPLETO.md
  coverage-history.html
  index.html
  sonar-project.properties
Labels: documentation, ci-cd, badges, configuration

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(badges): update coverage badges for master
  badges/history/coverage-latest-master.json
Labels: testing, badges

🚀 Otimização MongoDB Query - 72% Mais Enxuta
  data-engineering/queries/sample_task_metrics.sql
  data-test.js
Labels: testing, analytics

🔒 Fix ESLint Security Warnings & Syntax Error
  backend/src/mock-server.js
  backend/src/vulnerable-code.js
Labels: backend

Fix formatting issues in health check endpoint
  backend/src/mock-server.js
Labels: backend

Feature/betterrole with tests1 aux (#213)
  backend/src/mock-server.js
  backend/src/vulnerable-code.js
  data-engineering/queries/sample_task_metrics.sql
  data-test.js
Labels: backend, testing, analytics

Feature/betterrole with tests1 aux (#213)
  backend/src/mock-server.js
  backend/src/vulnerable-code.js
  data-engineering/queries/sample_task_metrics.sql
  data-test.js
Labels: backend, testing, analytics

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(badges): update coverage badges for master
  badges/coverage-badge-master.json
  badges/coverage-badge.json
  badges/diff-coverage-badge.json
  badges/history/coverage-latest-master.json
Labels: testing, badges

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

chore(analytics): atualizar dashboard analítico
  analytics/metrics.json
  docs/analytics-dashboard/index.html
Labels: documentation

chore(pages): atualizar dashboard em gh-pages
  analytics-dashboard/index.html
Labels: none

.github/labeler.yml:

# Auto-Labeler Configuration v5
# https://github.com/actions/labeler

# 🔧 Backend Changes
backend:
  - changed-files:
    - any-glob-to-any-file: 
      - backend/**/*
      - backend/**/*.js
      - backend/**/*.ts
      - backend/**/*.json

# 🎨 Frontend Changes  
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - frontend/**/*.tsx
      - frontend/**/*.ts
      - frontend/**/*.css
      - frontend/**/*.html

# 🧪 Testing Changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*test*"
      - "**/*spec*"
      - "**/tests/**/*"
      - "**/__tests__/**/*"
      - "**/jest.config.*"
      - "**/coverage/**/*"

# 📚 Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "*.md"
      - "docs/**/*"
      - "**/*.md"
      - "README*"

# 🔄 CI/CD Changes
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**/*"
      - ".github/workflows/**/*"
      - "docker-compose*.yml"
      - "**/Dockerfile*"
      - "orchestrator*.yml"

# 📦 Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "**/package.json"
      - "**/package-lock.json" 
      - "**/yarn.lock"
      - ".github/dependabot.yml"

# 🏷️ Badge System
badges:
  - changed-files:
    - any-glob-to-any-file:
      - "badges/**/*"
      - "**/*badge*"
      - "**/badge-*"
      - "combined-coverage/**/*"

# 📊 Data & Analytics
analytics:
  - changed-files:
    - any-glob-to-any-file:
      - "data-engineering/**/*"
      - "**/*.sql"
      - "**/analytics-*"
      - "scripts/generate-analytics-dashboard.js"

# 🔧 Configuration
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - "*.json"
      - "*.yml"
      - "*.yaml"
      - ".github/CODEOWNERS"
      - "sonar-project.properties"
      - "eslint.config.js"

# 🔒 Security & Compliance
security:
  - changed-files:
    - any-glob-to-any-file:
      - "SECURITY.md"
      - ".github/CODEOWNERS" 
      - ".github/dependabot.yml"
      - "**/*security*"

# 🚀 Infrastructure
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - "docker-compose*.yml"
      - "**/Dockerfile*"
      - "orchestrator*.yml"
      - "**/infrastructure/**/*"

# 🎯 Controllers (Backend)
controllers:
  - changed-files:
    - any-glob-to-any-file:
      - "**/controllers/**/*"
      - "**/*Controller*"

# 📋 Models (Backend)
models:
  - changed-files:
    - any-glob-to-any-file:
      - "**/models/**/*" 
      - "**/*Model*"

# 🛣️ Routes (Backend)
routes:
  - changed-files:
    - any-glob-to-any-file:
      - "**/routes/**/*"
      - "**/*Route*"

# 🎨 Components (Frontend)
components:
  - changed-files:
    - any-glob-to-any-file:
      - "**/components/**/*"
      - "**/*Component*"

# 📄 Pages (Frontend)
pages:
  - changed-files:
    - any-glob-to-any-file:
      - "**/pages/**/*"
      - "**/*Page*"

# 🔌 Services & APIs
api:
  - changed-files:
    - any-glob-to-any-file:
      - "**/services/**/*"
      - "**/*Service*"
      - "**/*api*"

# 🎨 Styles
styles:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.css"
      - "**/*.scss"
      - "**/*.less"
      - "**/styles/**/*"

# 🔧 Scripts & Tools
scripts:
  - changed-files:
    - any-glob-to-any-file:
      - "scripts/**/*"
      - "**/*.sh"
      - "tools/**/*"
