Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, security

chore(ci): add pull_request triggers (master & develop) + unify push triggers for semgrep/static/build/dashboard
  .github/workflows/analytics-dashboard.yml
  .github/workflows/ci-cd.yml
  .github/workflows/semgrep.yml
  .github/workflows/static-checks.yml
Labels: ci

chore(ci): add pull_request triggers (master & develop) + unify push triggers for semgrep/static/build/dashboard
  .github/workflows/analytics-dashboard.yml
  .github/workflows/ci-cd.yml
  .github/workflows/semgrep.yml
  .github/workflows/static-checks.yml
Labels: ci

chore(ci): fix gitleaks step (use CLI + token), add secret signals artifact, integrate secret count in risk score
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): fix gitleaks step (use CLI + token), add secret signals artifact, integrate secret count in risk score
  .github/workflows/orchestrator.yml
Labels: ci

TESTE FALHA LINT - FORCE
  frontend/src/services/api.ts
Labels: frontend

TESTE FALHA LINT - FORCE
  frontend/src/services/api.ts
Labels: frontend

adicionando erro typecheck proposital
  frontend/src/components/TaskForm.tsx
Labels: frontend

adicionando erro typecheck proposital
  frontend/src/components/TaskForm.tsx
Labels: frontend

ci(lint): enforce --max-warnings=0 to make unused vars fail pipeline
  .github/workflows/orchestrator.yml
Labels: ci

ci(lint): enforce --max-warnings=0 to make unused vars fail pipeline
  .github/workflows/orchestrator.yml
Labels: ci

ci(lint): run on feature/** and escalate unused-vars to error
  .github/workflows/orchestrator.yml
  eslint.config.js
Labels: ci

ci(lint): run on feature/** and escalate unused-vars to error
  .github/workflows/orchestrator.yml
  eslint.config.js
Labels: ci

ci(lint): add ESLint problem matcher + debug listing + unix formatter for inline annotations
  .github/matchers/eslint-unix.json
  .github/workflows/orchestrator.yml
Labels: ci

ci(lint): add ESLint problem matcher + debug listing + unix formatter for inline annotations
  .github/matchers/eslint-unix.json
  .github/workflows/orchestrator.yml
Labels: ci

ci(legacy-tests): add diff coverage job, history & badges parity with orchestrator
  package-lock.json
Labels: none

ci(legacy-tests): add diff coverage job, history & badges parity with orchestrator
  package-lock.json
Labels: none

ci(orchestrator): add update-readme-badges job for badge block parity
  .github/workflows/orchestrator.yml
Labels: ci

ci(orchestrator): add update-readme-badges job for badge block parity
  .github/workflows/orchestrator.yml
Labels: ci

test(demo-regression): remove title validation (backend) and Add Task button (frontend) //TESTE PARA FALHAR
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

test(demo-regression): remove title validation (backend) and Add Task button (frontend) //TESTE PARA FALHAR
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

Adicionando quebra de testes unitários para validação na POC GITHUB COPILOT
  frontend/src/components/TaskForm.tsx
Labels: frontend

Adicionando quebra de testes unitários para validação na POC GITHUB COPILOT
  frontend/src/components/TaskForm.tsx
Labels: frontend

Comentando teste de falha com LINT
  frontend/src/services/api.ts
Labels: frontend

Comentando teste de falha com LINT
  frontend/src/services/api.ts
Labels: frontend

chore(test): rename mock parameter to _onTaskAdded to suppress lint unused-var while preserving intentional test failure
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

chore(test): rename mock parameter to _onTaskAdded to suppress lint unused-var while preserving intentional test failure
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

test(regression): force createTask to always return 201 to break validation error tests
  backend/src/controllers/taskController.js
Labels: backend

test(regression): force createTask to always return 201 to break validation error tests
  backend/src/controllers/taskController.js
Labels: backend

Feature/betterrole with tests1 (#158)
  .github/matchers/eslint-unix.json
  .github/workflows/analytics-dashboard.yml
  .github/workflows/ci-cd.yml
  .github/workflows/orchestrator.yml
  .github/workflows/semgrep.yml
  .github/workflows/static-checks.yml
  README.md
  backend/src/controllers/taskController.js
  docs/executive-poc-slide.md
  eslint.config.js
  frontend/src/__tests__/Home.test.tsx
  frontend/src/components/TaskForm.tsx
  frontend/src/services/api.ts
  package-lock.json
Labels: backend, frontend, ci

Feature/betterrole with tests1 (#158)
  .github/matchers/eslint-unix.json
  .github/workflows/analytics-dashboard.yml
  .github/workflows/ci-cd.yml
  .github/workflows/orchestrator.yml
  .github/workflows/semgrep.yml
  .github/workflows/static-checks.yml
  README.md
  backend/src/controllers/taskController.js
  docs/executive-poc-slide.md
  eslint.config.js
  frontend/src/__tests__/Home.test.tsx
  frontend/src/components/TaskForm.tsx
  frontend/src/services/api.ts
  package-lock.json
Labels: backend, frontend, ci

comentadas falhas de testes
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

comentadas falhas de testes
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

comentadas falhas de testes
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

comentadas falhas de testes
  backend/src/controllers/taskController.js
  frontend/src/__tests__/Home.test.tsx
Labels: backend, frontend

fix(test): remove undefined onTaskAdded reference in Home.test.tsx mock to resolve ESLint no-undef
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

fix(test): remove undefined onTaskAdded reference in Home.test.tsx mock to resolve ESLint no-undef
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

fix(test): restore Add Task button in TaskForm mock so refresh test passes
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

fix(test): restore Add Task button in TaskForm mock so refresh test passes
  frontend/src/__tests__/Home.test.tsx
Labels: frontend

fix(ci): robust changed.txt generation and safe multiline GITHUB_OUTPUT delimiter in diff-coverage job
  .github/workflows/orchestrator.yml
Labels: ci

fix(ci): robust changed.txt generation and safe multiline GITHUB_OUTPUT delimiter in diff-coverage job
  .github/workflows/orchestrator.yml
Labels: ci

.github/labeler.yml:

# Auto-label rules
backend:
  - backend/**
frontend:
  - frontend/**
ci:
  - .github/workflows/**
security:
  - sbom/**
  - .github/dependabot.yml
