Repository luanacvieira/poc-task-manager-herooffer-ghc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, security

.github/labeler.yml:

# Auto-label rules
backend:
  - backend/**
frontend:
  - frontend/**
ci:
  - .github/workflows/**
security:
  - sbom/**
  - .github/dependabot.yml

fix(security): replace broken gitleaks install script with stable release download + graceful fallback
  .github/workflows/orchestrator.yml
Labels: ci

fix(security): replace broken gitleaks install script with stable release download + graceful fallback
  .github/workflows/orchestrator.yml
Labels: ci

fix(ci): restore jobs section (lint, typecheck, tests) after accidental removal; remove corrupted security block
  .github/workflows/orchestrator.yml
Labels: ci

fix(ci): restore jobs section (lint, typecheck, tests) after accidental removal; remove corrupted security block
  .github/workflows/orchestrator.yml
Labels: ci

fix(ci): add security-events permission and skip SARIF upload on fork PRs to avoid 'Resource not accessible'
  .github/workflows/orchestrator.yml
Labels: ci

fix(ci): add security-events permission and skip SARIF upload on fork PRs to avoid 'Resource not accessible'
  .github/workflows/orchestrator.yml
Labels: ci

feat(ci): add security alerts badge (critical/high/medium) to badges and README update
  .github/workflows/orchestrator.yml
Labels: ci

feat(ci): add security alerts badge (critical/high/medium) to badges and README update
  .github/workflows/orchestrator.yml
Labels: ci

revert(ci): restore orchestrator.yml to last known-good before YAML break; will reapply security badge cleanly next
  .github/workflows/orchestrator.yml
Labels: ci

revert(ci): restore orchestrator.yml to last known-good before YAML break; will reapply security badge cleanly next
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): externalize security signals + simplified risk score & badges
  .github/scripts/collect-security-signals.js
  .github/workflows/orchestrator.yml
Labels: ci

chore(ci): externalize security signals + simplified risk score & badges
  .github/scripts/collect-security-signals.js
  .github/workflows/orchestrator.yml
Labels: ci

ci: make SARIF uploads non-blocking, soften license artifact download, add fallback logs
  .github/workflows/orchestrator.yml
Labels: ci

ci: make SARIF uploads non-blocking, soften license artifact download, add fallback logs
  .github/workflows/orchestrator.yml
Labels: ci

ci(frontend-tests): add timeout, direct react-scripts call, diagnostics to avoid hang
  .github/workflows/orchestrator.yml
Labels: ci

ci(frontend-tests): add timeout, direct react-scripts call, diagnostics to avoid hang
  .github/workflows/orchestrator.yml
Labels: ci

ci(frontend-tests): add retry + detectOpenHandles + forceExit fallback (persist patch)
  .github/workflows/orchestrator.yml
Labels: ci

ci(frontend-tests): add retry + detectOpenHandles + forceExit fallback (persist patch)
  .github/workflows/orchestrator.yml
Labels: ci

ci(lint-install): enforce clean reinstall + npm upgrade + verbose diagnostics
  .github/workflows/orchestrator.yml
Labels: ci

ci(lint-install): enforce clean reinstall + npm upgrade + verbose diagnostics
  .github/workflows/orchestrator.yml
Labels: ci

ci(installs): enforce clean reinstall for backend & frontend + npm upgrade + verbose logs
  .github/workflows/orchestrator.yml
Labels: ci

ci(installs): enforce clean reinstall for backend & frontend + npm upgrade + verbose logs
  .github/workflows/orchestrator.yml
Labels: ci

frontend: pin dependency versions, align @types/jest to 29.x, add test memory flag
  frontend/package.json
Labels: frontend

frontend: pin dependency versions, align @types/jest to 29.x, add test memory flag
  frontend/package.json
Labels: frontend

chore(frontend): align pinned deps with installed versions to resolve npm ELSPROBLEMS
  frontend/package.json
Labels: frontend

chore(frontend): align pinned deps with installed versions to resolve npm ELSPROBLEMS
  frontend/package.json
Labels: frontend

fix(frontend): add missing dotenv and dotenv-expand required by react-scripts env loader
  frontend/package.json
Labels: frontend

fix(frontend): add missing dotenv and dotenv-expand required by react-scripts env loader
  frontend/package.json
Labels: frontend

fix(frontend): add explicit jest 27.5.1 to satisfy react-scripts 5 runner under workspace
  frontend/package.json
Labels: frontend

fix(frontend): add explicit jest 27.5.1 to satisfy react-scripts 5 runner under workspace
  frontend/package.json
Labels: frontend

fix(frontend): downgrade react/react-dom and types to 18.2.0 to restore test-utils resolution
  frontend/package.json
Labels: frontend

fix(frontend): downgrade react/react-dom and types to 18.2.0 to restore test-utils resolution
  frontend/package.json
Labels: frontend

chore(frontend): enforce react 18.2.0 via overrides and ensure json-summary coverage reporter
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

chore(frontend): enforce react 18.2.0 via overrides and ensure json-summary coverage reporter
  .github/workflows/orchestrator.yml
  frontend/package.json
Labels: frontend, ci

chore(root): add overrides + preinstall guard to enforce React 18.2.0 across workspaces
  package.json
  scripts/enforce-react-version.js
Labels: none

chore(root): add overrides + preinstall guard to enforce React 18.2.0 across workspaces
  package.json
  scripts/enforce-react-version.js
Labels: none

fix(frontend): use hoisted react-scripts in test script + add coverage reporters and cross-env
  frontend/package.json
Labels: frontend

fix(frontend): use hoisted react-scripts in test script + add coverage reporters and cross-env
  frontend/package.json
Labels: frontend

fix(finalize): robust code scanning JSON handling + silence expected test error log
  .github/workflows/orchestrator.yml
  frontend/src/setupTests.ts
Labels: frontend, ci

fix(finalize): robust code scanning JSON handling + silence expected test error log
  .github/workflows/orchestrator.yml
  frontend/src/setupTests.ts
Labels: frontend, ci
